* {
    margin: 0;
    padding: 0;
    border: 0;
}


@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"),
        local("Montserrat Medium"),
        url("../fonts/montserratmedium.woff") format("woff2"),
        url("../fonts/montserratmedium.woff2") format("woff");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Roboto Bold";
    src: local("Roboto-Bold"),
        local("Roboto Bold"),
        url("../fonts/robotobold.woff") format("woff2"),
        url("../fonts/robotobold.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: local("Roboto-Regular"),
        local("Roboto Regular"),
        url("../fonts/robotoregular.woff") format("woff2"),
        url("../fonts/robotoregular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Light";
    src: local("Roboto-Light"),
        local("Roboto Light"),
        url("../fonts/robotolight.woff") format("woff2"),
        url("../fonts/robotolight.woff2") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe Print';
    src: local("Roboto-Light"),
        local("Roboto Light"),
        url("../fonts/segoeprintbold.woff") format("woff2"),
        url("../fonts/segoeprintbold.woff2") format("woff");
    font-style: normal;
    font-weight: 700;
    
}


.page-main {
    min-width: 2022px;
    background-color: #F3F6FB;
    background-image: url("../img/background-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 3880px;
     margin: 0 auto;
     overflow-x:hidden;
   
}

.page-main__container {
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0 auto;

}

/*Хедер*/

.header__nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-top: 49px;
}

.header__item {
    padding-left: 60px;
}

.header__link {
    font-family: "Roboto Regular", sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #ffff;
}

.header__link--btn {
    border: 1px solid #ffff;
    border-radius: 30px;
    padding: 17px 30px;
}

.header__wrapper-title {
    display: flex;
    justify-content: space-between;
}

.header__title-container {
    margin-top: 84px;
}

.header__wrapper-img {
    margin-top: 106px;
}

.header__title {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #ffff;
    margin: 0;
}

.header__title-main {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 28px;
}

.header__btn {
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FF7024;
    background-color: #ffff;
    padding-left: 39px;
    padding-right: 27px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 30px;
    margin-top: 39px;

}

.header__btn-arrow {
    fill: #ffff;
    vertical-align: middle;
    padding: 12px;
    border-radius: 30px;
    background-color: #FF5959;
    margin-left: 32px;
}

.header__btn:hover {
    background: linear-gradient(0deg, #FF7024, #FF7024);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
    color: #FFFFFF;
}

.header__btn:hover .header__btn-arrow {
    fill: #FF5959;
    background-color: white;
}

.header__text {
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}

.header__wrapper-text {
    display: flex;
}


.header__text-arrow {
    font-family: 'Segoe Print', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    align-self: flex-end;
    padding-bottom: 15px;
    padding-left: 19px;

}

.header__wrapper-text {
    display: flex;
    flex-direction: column;
}

.header__wrapper-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 34px;

}

.header__image-arrow-snake {
    margin-top: 35px;
    transform: rotate(10deg);
}

.header__wrapper-btn {
    display: flex;
}

/**Блок "Почему стоит идти к нам?"**/

.benefits {
    margin-top: 280px;
    display: flex;
    justify-content: space-between;

}

.benefits__wrapper-info {
    display: flex;
    flex-direction: column;
}

.benefits__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #334662;
}

.benefits__title--orange {
    color: #FF7024;
}

.benefits__info-list {
    width: 558px;
    padding-top: 53px;
}

.benefits__info-item {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #334662;
    text-align: left;
    padding-bottom: 38px;
    list-style-type: none;
}

.benefits__info-item--position {
    list-style-type: none;
}

.benefits__info-item img {
    position: relative;
    margin-left: -10px;
    left: -10px;
    bottom: 2px;
}

.benefits__text {
    font-family: "Roboto Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #334662;
    padding-left: 10px;
}

.benefits__info-item-img {
    position: relative;
    left: 420px;
    bottom: 10px;
}

.benefits__wrapper-functional {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
}


.benefits__brand-list {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 22px;
}

.benefits__brand-item {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: left;
    justify-content: center;
}

.benefits__functional-list {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 93px;
    list-style: none;
}

.benefits__functional-text {
    font-family: 'Roboto Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16.5832px;
    line-height: 19px;
    color: #334662;
    margin-top: 36px;
}

.benefits__functional-item {
    width: 221px;
    height: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    margin-bottom: 32px;
    background: #FFFFFF;
    transition: transform .90s;
}

.benefits__functional-item:nth-child(1) {
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 43.3005px 43.3005px 0px 43.3005px;
}

.benefits__functional-item:hover {
    transform: scale(1.2);
    transition: transform .9s;
}

.benefits__functional-item.r-b {
    transform-origin: right bottom;
}

.benefits__functional-item.l-b {
    transform-origin: left bottom;
}

.benefits__functional-item.r-t {
    transform-origin: right top;
}

.benefits__functional-item {
    transform-origin: left top;
}

.benefits__functional-item:nth-child(2) {
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 43.3005px 43.3005px 43.3005px 0px;
    margin-right: 0px;
}

.benefits__functional-item:nth-child(3) {
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 43.3005px 0px 43.3005px 43.3005px;

}

.benefits__functional-item:nth-child(4) {
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 0px 43.3005px 43.3005px 43.3005px;
    margin-right: 0px;
}

/*  Блок направления курса */

.directions {
    display: flex;
    flex-direction: column;
    margin-top: 100px
}

.directions__content {
    display: flex;
    flex-direction: column;
}

.directions__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    text-align: left;
}


.directions__title--orange {
    color: #FFC924;
}

.directions__text {
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 17px;
}

.img {
    display: flex;
    width: 179px;
    height: 251px;
}


.directions__tabs {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.directions__nav-bt-marker:focus {
    display: active;
}

.directions__nav-bt {
    position: relative;
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: transparent;
    margin-right: 56px;
    padding: 17px 0px;
}

.directions__nav-bt.active {
    display: active;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 17px 60px;
    background-image: url("../img/yellow-marker.png");
    background-repeat: no-repeat;
    background-position: 10%;

}

.directions__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 281px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 43px;
    margin-top: 200px;
    padding: 0 40px;
    margin-right: 40px;
    transition: transform .90s;
}

.directions__slider-item:hover {

    transform: translate(0, -30px);
}

.directions__slider-wrapper {
    display: flex;
    flex-direction: column;
}

.directions__slider-wrapper {
    display: none;
}

.directions__slider-wrapper.active {
    display: block;
}

.directions__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;

}

.directions__slider {
    display: flex;
    overflow: visible;
    width: 100%;
    overflow-x: hidden;
    width: 1580px;
    padding-bottom: 5px;
}

.directions__text-slider {
    position: relative;
    bottom: 25%;
    font-family: 'Roboto Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 70, 98, 0.5);
    padding-top: 21px;
    padding-bottom: 12px;
    text-align: center;
}

.directions__link {
    position: relative;
    bottom: 25%;
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #334662;
    word-wrap: break-word;
}

.directions__img {
    position: relative;
    bottom: 25%;
}

.directions__dot {
    width: 14px;
    height: 14px;
    margin-right: 12px;
    border-radius: 50%;
    background: #D7D7D7;
    box-shadow: 0px 2px 10px rgba(104, 104, 104, 0.1);
}

.directions__dot:focus {
    width: 20px;
    height: 20px;
    background: #FF7024;
}

.directions__dot:nth-child(2) {
    margin-left: 20px;
}

.directions__dot:nth-child(8) {
    margin-right: 20px;
}

.directions__slider-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffff;
    box-shadow: 0px 2px 10px rgba(104, 104, 104, 0.1);
}

.directions__dots-svg {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    text-align: middle;
    fill: #FF7024;
}

.directions__slider-arrow:hover {
    background: #FF7024;
}

.directions__slider-arrow:hover .directions__dots-svg {
    fill: #FFFFFF;
}

/*Блок галлерея*/

.gallery {
    display: flex;
    flex-direction: column;
    margin-top: 91px;
}

.gallery__container-one {
    display: flex;
    align-items:flex-end;
}

.gallery__img-back {
    position: relative;
    right: 80px;
    top: 20px;
}

.gallery-container-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 42px;
}

.gallery__container-img {
    width: 260px;
    height: 249px;
    border-radius: 43px;
    background-color: #334662;
}

.gallery__container-img--width {
    display: flex;
    width: 560px;
    height: 399px;
    border-radius: 43px;
    background-color: #334662;
}

.gallery__img {
    width: 100%;
    height: 100%;
    border-radius: 43px;
}

.gallery__container-img:last-child {
    position: relative;
    bottom: 100px;
}

.gallery__list {
    list-style: none;
    margin-left: 42px
}

.gallery__item:nth-child(2){
    margin-top:15px;
}

.gallery-text {
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(51, 70, 98, 0.7);
}

.gallery__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #334662;
}

.gallery__title--purple {
    color: #5C4EFF;
}