* {
    margin: 0;
    padding: 0;
    border: 0;
}


@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"),
        local("Montserrat Medium"),
        url("../fonts/montserratmedium.woff") format("woff2"),
        url("../fonts/montserratmedium.woff2") format("woff");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Roboto Bold";
    src: local("Roboto-Bold"),
        local("Roboto Bold"),
        url("../fonts/robotobold.woff") format("woff2"),
        url("../fonts/robotobold.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: local("Roboto-Regular"),
        local("Roboto Regular"),
        url("../fonts/robotoregular.woff") format("woff2"),
        url("../fonts/robotoregular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Light";
    src: local("Roboto-Light"),
        local("Roboto Light"),
        url("../fonts/robotolight.woff") format("woff2"),
        url("../fonts/robotolight.woff2") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe Print';
    src: local("Roboto-Light"),
        local("Roboto Light"),
        url("../fonts/segoeprintbold.woff") format("woff2"),
        url("../fonts/segoeprintbold.woff2") format("woff");
    font-style: normal;
    font-weight: 700;
}


.page-main {
    min-width: 1140px;
    position: relative;
    margin: 0 auto;
    background-image: url("/img/background-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 3500px;
}

.page-main__container {
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-top: 49px;
}

.header__item {
    padding-left: 60px;
}

.header__link {
    font-family: "Roboto Regular";
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #ffff;
}

.header__link--btn {
    border: 1px solid #ffff;
    border-radius: 30px;
    padding: 17px 30px;
}

.header__wrapper-title {
    display: flex;
    justify-content: space-between;
}

.header__title-container {
    margin-top: 84px;
}

.header__wrapper-img {
    margin-top: 106px;
}

.header__title {
    font-family: "Roboto Light";
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #ffff;
    margin: 0;
}

.header__title-main {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 28px;
}

.header__btn {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FF7024;
    background-color: #ffff;
    padding-left: 39px;
    padding-right: 27px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 30px;
    margin-top: 39px;

}

.header__btn-arrow {
    fill: #ffff;
    vertical-align: middle;
    padding: 12px;
    border-radius: 30px;
    background-color: #FF5959;
    margin-left: 32px;
}

.header__btn:hover {
    background: linear-gradient(0deg, #FF7024, #FF7024);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
    color: #FFFFFF;
}

.header__btn:hover .header__btn-arrow {
    fill: #FF5959;
    background-color: white;
}

.header__text {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}

.header__wrapper-text {
    display: flex;
}


.header__text-arrow {
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    align-self: flex-end;
    padding-bottom: 15px;
    padding-left: 19px;

}

.header__wrapper-text {
    display: flex;
    flex-direction: column;
}

.header__wrapper-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 34px;

}

.header__image-arrow-snake {
    margin-top: 35px;
    transform: rotate(10deg);
}

.header__wrapper-btn {
    display: flex;
}

/**Блок "Почему стоит <br> идти к нам?"**/

.benefits {
    margin-top: 270px;
    display: flex;
    justify-content: space-between;

}

.benefits__wrapper-info {
    display: flex;
    flex-direction: column;
}

.benefits__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #334662;
}

.benefits__title--orange {
    color: #FF7024;
}

.benefits__info-list {
    width: 558px;
    padding-top: 53px;
}

.benefits__info-item {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #334662;
    text-align: left;
    padding-bottom: 38px;
    list-style-type: none;
}

.benefits__info-item--position {
    list-style-type: none;
}

.benefits__info-item img {
    position: relative;
    margin-left: -10px;
    left: -10px;
    bottom: 2px;
}

.benefits__text {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #334662;
    padding-left: 10px;
}

.benefits__info-item-img {
    position: relative;
    left: 500px;
    bottom: 80px;
}

.benefits__wrapper-functional {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
}


.benefits__brand-list {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 22px;
}

.benefits__brand-item {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: left;
    justify-content: center;
}

.benefits__functional-list {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 93px;
    list-style: none;
}

.benefits__functional-text {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16.5832px;
    line-height: 19px;
    color: #334662;
    margin-top: 36px;
}

.benefits__functional-item {
    width: 221px;
    height: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    margin-bottom: 32px;
    background: #FFFFFF;
    transition: transform .90s;
}

.benefits__functional-item:nth-child(1){
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 43.3005px 43.3005px 0px 43.3005px;
}

.benefits__functional-item:hover {
    transform: scale(1.2);
    
    transition: transform .9s;
}

.benefits__functional-item.r-b {
    transform-origin: right bottom;
  }

.benefits__functional-item.l-b {
    transform-origin: left bottom;
  }

.benefits__functional-item.r-t {
    transform-origin: right top;
  }

.benefits__functional-item. {
    transform-origin: left top;
  }

.benefits__functional-item:nth-child(2){
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 43.3005px 43.3005px 43.3005px 0px;
    margin-right: 0px;
}

.benefits__functional-item:nth-child(3){
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 43.3005px 0px 43.3005px 43.3005px;
    
}

.benefits__functional-item:nth-child(4){
    box-shadow: 0px 3.68515px 18.4258px rgba(0, 0, 0, 0.25);
    border-radius: 0px 43.3005px 43.3005px 43.3005px;
    margin-right: 0px;
}